@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cinzel:wght@400..900&family=Preahvihear&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');



.font1{
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
font-weight: 400px;

}
